<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <extension 
 	point="com.nokia.sdt.component.symbian.componentLibrary"
 	id="series60"
 	name="Series 60 Components">
 	<library
        path="components"
        sdkPattern="com\.nokia\.series60"/> 
 </extension>
 
    <extension point="com.nokia.carbide.templatewizard.wizardTemplate">
   
      <template
      		displayName="%s60gui.label"
            filterArguments="S60:3.0-5.2"
            groupLabel="%S60.3.label"
            image="icons/s60_UI_designerWiz.png"
            location="templates/Series 60 v3.0 EXE/template.xml"
            extraPagesProvider="com.nokia.sdt.series60.viewwizard.PagesProvider"
            templateId="com.nokia.cdt.templates.s60.3x.uidesigner"
            wizardId="com.nokia.carbide.cpp.project.ui.wizards.NewSymbianOSCppProjectWizard"/>
    
      <template
      		displayName="%s60gui.add.label"
            filterArguments="S60:3.0-5.2"
            groupLabel="%S60.3.label"
            image="icons/s60_UI_designerWiz.png"
            location="templates/Series 60 v3.0 EXE/template_add.xml"
            templateId="com.nokia.cdt.templates.s60.3x.add.uidesigner"
            wizardId="com.nokia.sdt.series60.viewwizard.ViewWizard"/>
      <template
      		displayName="%bdays.label"
            filterArguments="S60:3.0-5.2"
            groupLabel="%Tutorials.label"
            image="icons/s60_UI_designerWiz.png"
            location="templates/tutorials/Birthdays/template.xml"
            templateId="com.nokia.cdt.templates.s60.birthdays.uidesigner"
            wizardId="com.nokia.carbide.cpp.project.ui.wizards.NewSymbianOSCppProjectWizard"/>
      <template
      		displayName="%yahoo.label"
            filterArguments="S60:3.0-5.2"
            groupLabel="%Tutorials.label"
            image="icons/s60_UI_designerWiz.png"
            location="templates/tutorials/YahooImageSearch/template.xml"
            templateId="com.nokia.cdt.templates.s60.yahooimagesearch.uidesigner"
            wizardId="com.nokia.carbide.cpp.project.ui.wizards.NewSymbianOSCppProjectWizard"/>
   </extension>
 
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.nokia.carbide.cpp.project.ui.newWizards.symbianos"
            name="%symbianOSCategoryName"/>
      <wizard
            category="com.nokia.carbide.cpp.project.ui.newWizards.symbianos"
            class="com.nokia.sdt.series60.viewwizard.ViewWizard"
            finalPerspective="com.nokia.carbide.cpp.CarbideCppPerspective"
            icon="icons/s60_UI_designerWiz.png"
            id="com.nokia.sdt.series60.viewwizard.ViewWizard"
            name="%S60View.name">
      </wizard>
    </extension>

  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.nokia.carbide.cpp.CarbideCppPerspective">
         <newWizardShortcut id="com.nokia.sdt.series60.viewwizard.ViewWizard"/>
      </perspectiveExtension>
   </extension>
	<extension
	  point="org.eclipse.ui.navigator.navigatorContent">
	 <commonWizard
		type="new"
	    wizardId="com.nokia.sdt.series60.viewwizard.ViewWizard">
		 <enablement>
			<or>
				<instanceof value="org.eclipse.cdt.core.model.ICElement" />	
	            <adapt type="org.eclipse.core.resources.IProject">
	               <test
	                     property="org.eclipse.core.resources.projectNature"
	                     value="com.nokia.carbide.cdt.builder.carbideCPPBuilderNature"/>
	            </adapt>
			</or>
         </enablement>
	 </commonWizard>
  </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.overrideContextIcon"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.OverrideContextIconActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.OverrideContextIconActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.overrideContextIcon"
               label="%_UI_OverrideContextIcon"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.overrideTitlePane"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.OverrideTitlePaneActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.OverrideTitlePaneActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.overrideTitlePane"
               label="%_UI_OverrideTitlePane"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.addListBoxItem"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.AddListBoxItemActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.AddListBoxItemActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.addListBoxItem"
               label="%_UI_AddListBoxItem"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
       <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.addStylusPopupMenuItem"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.AddStylusPopupMenuItemActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.AddStylusPopupMenuItemActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.addStylusPopupMenuItem"
               label="%_UI_AddStylusPopupMenuItem"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
       <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.toggleChoiceListPopupMenuItem"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ToggleChoiceListButtonActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ToggleChoiceListButtonActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.toggleChoiceListPopupMenuItem"
               label="%_UI_ToggleChoiceListPopupMenuItem"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.configureListStyle"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ConfigureListStyleActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ConfigureListStyleActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.configureListStyle"
               label="%_UI_ConfigureListStyle"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.showBitmapsInForm"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ShowBitmapsInFormActionFilterDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.ShowBitmapsInFormActionFilterDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.showBitmapsInForm"
               style="toggle"
               label="%_UI_ShowBitmapsInForm"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.nokia.sdt.series60.editArray"
            objectClass="com.nokia.sdt.uidesigner.ui.actions.IPopupActionTarget">
         <filter
               name="action-filter-test-passes:com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.EditArrayPropertyActionDelegate"
               value="true"/>
         <action
               class="com.nokia.sdt.series60.componentlibrary/com.nokia.sdt.series60.actions.EditArrayPropertyActionDelegate"
               enablesFor="1"
               id="com.nokia.sdt.series60.editArray"
               label="%_UI_EditArrayProperty"
               menubarPath="com.nokia.sdt.uidesigner.component"/>
      </objectContribution>
  </extension>
  
</plugin>
