<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="LASTUPDATED" content="06/17/05 11:09:43" />
<title>Signals view</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body >
<h2>Signals view</h2>
<p>  The Signals view of the Debug perspective lets you view the signals defined on the selected debug target and how the debugger handles each one. Figure 1 shows the Signals view.</p>
<p align="center"><img src="../../images/views/view_signals.png" width="500" height="205" /></p>
<p class="figure">Figure 1 - Signals view</p>
<h5>Table 1 Signals view&mdash;items </h5>
<table width="76%"  border="0" cellpadding="2" cellspacing="0">
  <tr>
    <th width="22%" scope="col">Item</th>
    <th width="78%" scope="col">Explanation</th>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td>Displays the name of the signal.</td>
  </tr>
  <tr>
    <td><b>Pass</b></td>
    <td>Where &quot;yes&quot; is displayed, the debugger lets your program see the signal. Your program can handle the signal, or else it may terminate if the signal is fatal and not handled.</td>
  </tr>
  <tr>
    <td><b>Suspend</b></td>
    <td>Where &quot;yes&quot; is displayed, the debugger suspends your program when this signal is handled.</td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td>Displays a description of the signal.</td>
  </tr>
</table>
<h5>Related reference </h5>
<ul>
  <li> <a href="../debug/viewing_debug.htm">Debug view</a></li>
</ul>
<div id="footer">Copyright &copy; 2010 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
