<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="LASTUPDATED" content="06/17/05 11:09:43" />
<script language="JavaScript" src="PLUGINS_ROOT/org.eclipse.help/livehelp.js"></script>
<title>Memory view</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body >
<h2>Memory view </h2>
<p>  Use the <img src="../../images/command_link.png" border="0" alt="" /> <a href='javascript:executeCommand("org.eclipse.ui.views.showView(org.eclipse.ui.views.showView.viewId=org.eclipse.debug.ui.MemoryView)")' class="command-link"><b>Memory</b></a> view to inspect and change process memory. You can address memory using expressions such as:</p>
<ul>
  <li class="code">0x0847d3c </li>
  <li class="code">(&amp;y)+1024 </li>
  <li class="code">*ptr</li>
  <li class="code">FNname + 1 </li>
</ul>
<p>You can configure your output to display traditional, hexadecimal, ascii and/or signed/unsigned decimal. You can also set the size of the rendering columns. </p>
<p class="note"><b>CAUTION</b> Arbitrarily changing memory contents could degrade the stability of the IDE, another program, or the operating system itself. Understand the consequences of manipulating memory.</p>
<p>Figure 1 shows the Memory view.</p>
<p align="center"><img src="../../reference/images/view_memory.png" alt="Memory view" width="619" height="208"></p>
<p class="figure">Figure 1 - Memory view showing a memory rendering in traditional format</p>
<div class="step">
    <h4>To open the Memory view </h4>
    <ul>
        <li>Click the Window &gt; Show View &gt; Memory menu option</li>
        <p>A <b>Memory</b>  view appears.</p>
    </ul>
</div>
<h5>Table 1 Memory view&mdash;items </h5>
<table width="100%"  border="0" cellpadding="2" cellspacing="0">
  <tr>
    <th width="37%" scope="col">Item</th>
    <th width="11%" scope="col">Icon</th>
    <th width="52%" scope="col">Explanation</th>
  </tr>
  <tr>
    <td><a href="../../tasks/memory/view_memory_show.htm">New Memory View</a> </td>
    <td><div align="center"><img src="../../reference/images/view_mem_new_memory_btn.png" width="16" height="17" /></div></td>
    <td>Click to add a new Memory monitor view. </td>
  </tr>
  <tr>
    <td><b>Pin Memory Monitor </b></td>
    <td><div align="center"><img src="../../reference/images/view_mem_pin_memory_btn.png" width="19" height="18" /></div></td>
    <td>Pin memory view.</td>
  </tr>
  <tr>
    <td><b>Toggle Memory Monitors Pane </b></td>
    <td><div align="center"><img src="../../reference/images/view_mem_toggle_pane_btn.png" width="19" height="17" /></div></td>
    <td>Toggles the current Memory monitors view between showing only a Memory Monitor pane and a Memory Monitor and Memory Rendering pane. </td>
  </tr>
  <tr>
    <td><b>Toggle Split Pane </b></td>
    <td><div align="center"><img src="../../reference/images/view_mem_split_pane_btn.png" width="17" height="17" /></div></td>
    <td>Alternately shows and hides the Memory Rendering pane. </td>
  </tr>
  <tr>
    <td><b>Link Memory Monitor Panes </b></td>
    <td><div align="center"><img src="../../reference/images/view_mem_link_btn.png" width="20" height="19" /></div></td>
    <td><span>Enable to synchronize the current selection between the rendering of the same memory monitor </span>. </td>
  </tr>
  <tr>
    <td><b>Switch Memory Monitor </b></td>
    <td><div align="center"><img src="../../reference/images/view_mem_switch_monitor_btn.png" width="33" height="20" /></div></td>
    <td>If different memory monitor views have been added, select from list of memory monitor views.</td>
  </tr>
  <tr>
    <td><a href="../../tasks/memory/memory_monitor_adding.htm">Add Memory Monitor</a> / <a href="../../tasks/memory/memory_rendering_adding.htm">Add Rendering</a> </td>
    <td><div align="center"><img src="../../images/icons/mem_add_monitor_icon.png" width="18" height="18" /></div></td>
    <td>Add a new memory address or variable to the Memory Monitors pane, or add a new rendering to the Memory Rendering pane. </td>
  </tr>
  <tr>
    <td><a href="../../tasks/memory/memory_monitor_removing.htm">Remove Memory Monitor / Remove Rendering </a></td>
    <td><div align="center"><img src="../../images/icons/mem_remove_monitor_icon.png" width="19" height="19" /></div></td>
    <td>Remove the selected   memory address or variable from the Memory Monitors pane, or remove the selected rendering from the Memory Rendering pane. </td>
  </tr>
  <tr>
    <td><b>Remove All </b></td>
    <td><div align="center"><img src="../../images/icons/mem_remove_all_icon.png" width="21" height="20" /></div></td>
    <td>Remove all memory monitors or renderings from the associated pane. </td>
  </tr>
</table>
<p align="left">Each memory monitor rendering pane can be configured independently. Right-click in the Renderings pane to see the rendering options available. The options presented in the context menu may differ if you have not chosen the Traditional rendering view (Figure 2). </p>
<p align="center"><img src="../../reference/images/menu_memory_rendering_options.png" width="444" height="380"></p>
<p class="figure">Figure 2 - Rendering pane options </p>
<h5>Related tasks</h5>
<ul>
  <li><a href="../../tasks/memory/memory_monitor_adding.htm"> Adding a Memory Monitor</a></li>
  <li><a href="../../tasks/memory/memory_rendering_adding.htm">Adding a Memory Rendering </a></li>
</ul>
<div id="footer">Copyright &copy; 2010 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
