<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="LASTUPDATED" content="06/17/05 11:09:43" />
<script language="JavaScript" src="PLUGINS_ROOT/org.eclipse.help/livehelp.js"></script>
<title>Expressions Window</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body >
<h2>Expressions View </h2>
<p>Use the <img src="../../images/command_link.png" border="0" alt="" /> <a href='javascript:executeCommand("org.eclipse.ui.views.showView(org.eclipse.ui.views.showView.viewId=org.eclipse.debug.ui.ExpressionView)")' class="command-link"><b>Expressions</b></a> view to inspect frequently used variables as their values change during a debugging session. You can monitor and manipulate:</p>
<ul>
  <li>global and local variables</li>
  <li>structure members</li>
  <li>array elements</li>
</ul>
<p>The <b>Expressions</b> view displays these panes: </p>
<ul>
  <li>Expression pane (left) &#8212; Lists expressions and expression hierarchies. Click the hierarchical controls to expand or collapse the expression view.</li>
  <li>Value pane (right) &#8212; Shows the current value of each corresponding expression. Double-click a value to change it.</li>
</ul>
<p>Figure 1 shows the <b>Expressions</b> view.</p>
<p align="center"><img src="../../reference/images/view_expressions.png" width="439" height="144" /></p>
<p class="figure">Figure 1 - Expressions view </p>
<div class="step">
    <h4>Opening an Expressions view </h4>
    <ul>
        <li>Select Window &gt; Show View &gt; Expressions</li>
        <li>OR</li>
        <li>Right-click a variable in the <a href="view_variables.htm">Variables</a> or editor view and choose the Add Watchpoint (C/C++) menu item</li>
        <p>An <b>Expressions</b> view appears in the current perspective.</p>
    </ul>
</div>
<h3>Expressions view toolbar icons</h3>
<p>The following commands appear on the <b>Expressions</b> view toolbar: </p>
<h5>Table 1. Expressions view &mdash;items </h5>
<table width="88%"  border="0" cellpadding="2" cellspacing="0">
  <tr>
      <th width="34%" scope="col">Item</th>
      <th width="14%" scope="col">Icons</th>
      <th width="52%" scope="col">Explanation</th>
  </tr>
    <tr>
      <td><b>Show Type Names </b></td>
      <td><div align="center"><img src="../../images/icons/var_toggle_type_names_icon.png" width="19" height="19" /></div></td>
      <td>Toggles the display of type names in the Expressions view. </td>
    </tr>
    <tr>
      <td><b>Show Logical Structure </b></td>
      <td><div align="center"><img src="../../images/icons/var_show_logical_struct_icon.png" width="19" height="19" /></div></td>
      <td>Not available in C/C++ yet. </td>
    </tr>
    <tr>
      <td><b>Collapse All </b></td>
      <td><div align="center"><img src="../../images/icons/var_collapse_all_icon.png" width="17" height="18" /></div></td>
      <td>Collapses all expanded expressions into the top level. </td>
    </tr>
    <tr>
      <td><b>New Watch Expression</b></td>
      <td><div align="center"><img src="../images/icon_add.png" alt="New Watch Expression icon" width="18" height="18"></div></td>
      <td>Click to open the <b>Add Watch Expression</b> dialog.</td>
    </tr>
    <tr>
      <td><b>Remove Selected Expression </b></td>
      <td><div align="center"><img src="../../images/icons/var_remove_selected_globals_icon.png" width="18" height="16" /></div></td>
      <td>Click to remove all currently selected expressions from the expressions list. </td>
    </tr>
    <tr>
      <td><b>Remove All Expressions </b></td>
      <td><div align="center"><img src="../../images/icons/var_remove_all_globals_icon.png" width="19" height="19" /></div></td>
      <td>Click to remove all expressions from the expressions list. </td>
    </tr>
    <tr>
      <td><b>View Menu</b></td>
      <td><center>
          <img src="../../reference/images/icon_menu_white.png" alt="View menu icon" width="12" height="12">
      </center>
      </td>
      <td>Click to specify the Layout options for the <b>Expressions</b> view.</td>
    </tr>
</table>
<h5>Related tasks</h5>
<ul>
  <li><a href="../variables/adding_expressions.htm">Adding &amp; Removing Expressions</a></li>
  <li><a href="../variables/editing_expressions.htm">Editing Expressions</a></li>
</ul>
<div id="footer">Copyright &copy; 2010 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
