<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="LASTUPDATED" content="06/17/05 11:09:43" />
<script language="JavaScript" src="PLUGINS_ROOT/org.eclipse.help/livehelp.js"></script>
<title>Disassembly Window</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
<style type="text/css">
<!--
.style1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
</head>
<body >
<h2>Disassembly View</h2>
<p>When debugging your application, the <img src="../../images/command_link.png" border="0" alt="" /> <a href='javascript:executeCommand("org.eclipse.ui.views.showView(org.eclipse.ui.views.showView.viewId=org.eclipse.cdt.dsf.debug.ui.disassembly.view)")' class="command-link"><b>Disassembly</b></a> view shows the loaded program as assembler instructions. When you use the Disassembly view, you can do the following tasks:</p>
<ul>
  <li>Step through the disassembly instructions of your program using the <b>Instruction Stepping Mode</b> (<img src="../../reference/images/icon_instr_stepping_mode.png" width="18" height="16" align="absmiddle">) icon in the <a href="../debug/viewing_debug.htm">Debug</a> view (Figure 1). </li>
  <li>Reposition the PC  using the various move commands (Figure 1) by first selecting the line to move to, then select the command from the context menu.</li>
  <li>Set breakpoints at the start of any assembler instruction by right-clicking the left hand column to view the context menu options (Figure 2) </li>
</ul>
<p>Figure 1 shows the <b>Dissassembly</b> view stopped at a breakpoint.</p>
<p align="center"><img src="../../reference/images/view_disassembly.png" width="555" height="272" alt="" /></p>
<p class="figure">Figure 1 - Disassembly view</p>
<div class="step">
    <h4>To open the Disassembly view </h4>
    <ul>
        <li>Click the Window &gt; Show View &gt; Disassembly menu option</li>
        <p>A <b>Disassembly</b> view appears.</p>
    </ul>
</div>
<p>Figure 2 shows the context menu that appears when you right-click in the Dissassembly pane. Right-clicking  the left border opens the breakpoint context menu in Figure 3.</p>
<p class="figure"><img src="../../reference/images/view_disassembly_menu.png" width="232" height="133"></p>
<p class="figure">Figure 2 - Disassembly pane context menu</p>
<h5>Table 1. Disassembly pane &mdash; context menu</h5>
<table width="88%"  border="0" cellpadding="2" cellspacing="0">
  <tr>
    <th width="26%" scope="col">Item</th>
    <th width="8%" scope="col">Icon</th>
    <th width="66%" scope="col">Explanation</th>
  </tr>
  <tr>
    <td><b>Run to Line </b></td>
    <td><center>
      <img src="../../reference/images/icon_dis_run_to_line.png" width="18" height="18">
    </center></td>
    <td>Select <b>Run to Line</b> to execute the program from the currently executed line (the green line) to the selected line (the blue line).</td>
  </tr>
  <tr>
    <td><b>Move to Line</b></td>
    <td><center>
      <img src="../../reference/images/icon_dis_move_to_line.png" width="19" height="15">
    </center></td>
    <td><p>Select <b>Move to Line</b> to move the program counter to the selected line  (the blue line) skipping all intermediate lines but not resume execution. This enables you to skip suspect code and continue stepping through your program.</p>
        <p class="note"><span class="style1">WARNING</span> Using this command can leave a program in an unstable state. Use at your own risk.</p></td>
  </tr>
  <tr>
    <td><b>Resume at Line </b></td>
    <td><center>
      <img src="../../reference/images/icon_dis_resume_at_line.png" width="18" height="14">
    </center></td>
    <td><p>Select <b>Resume at Line</b> to begin program execution at the selected line   (the blue line), skipping all lines between it and the currently executed line  (the green line). </p>
        <p class="note"><span class="style1">WARNING</span> Using this command can leave a program in an unstable state. Use at your own risk.</p></td>
  </tr>
  <tr>
    <td><b>ABLD</b></td>
    <td>&nbsp;</td>
    <td>Use the <a href="../../reference/menus/abld.htm">ABLD</a> menu option to invoke an specific <span class="code">abld</span> command on the selected project or file.</td>
  </tr>
  <tr>
    <td><b>Freeze Exports</b></td>
    <td><center>
      <img src="../../reference/images/icon_freeze_exports.png" width="19" height="18">
    </center>
    </td>
    <td>Calls the appropriate <span class="code">abld</span> command  to generate a .def file.</td>
  </tr>
  <tr>
    <td><b>Build All Configurations</b></td>
    <td><center>
      <img src="../../reference/images/icon_build_all_configs.png" width="20" height="18">
    </center>
    </td>
    <td>Click <b>Build All Configurations</b> to build all enabled build configurations in the current project.</td>
  </tr>
  <tr>
    <td><b>Toggle Breakpoint </b></td>
    <td><center>
    </center></td>
    <td>Right-click in left-hand column of the Disassembly view and select this option to toggle the breakpoint state between <a href="../../tasks/breakpoints/pgm_bp_setting.htm">setting</a> and <a href="../../tasks/breakpoints/pgm_bp_clearing.htm">removing</a> the breakpoint. </td>
  </tr>
  <tr>
    <td><b>Disable/Enable Breakpoint </b></td>
    <td><center>
    </center></td>
    <td>Right-click in left-hand column of the Disassembly view and select the breakpoint option shown as determined by the current state of the breakpoint.</td>
  </tr>
  <tr>
    <td><b>Breakpoint Properties </b></td>
    <td><center>
    </center></td>
    <td>Select this option to open the <b>Breakpoint Properties</b> dialog. </td>
  </tr>
</table>
<p class="figure"><img src="../../reference/images/view_disassm_breakpoint.png" width="506" height="172" alt="" /></p>
<p class="figure">Figure 3 - Setting Breakpoints in the Disassembly view </p>
<div class="step">
  <h4>Opening the Disassembly view </h4>
  <ul>
    <li>Select Window &gt; Show View &gt; Disassembly    </li>
    </ul>
  <blockquote>
    <p>OR</p>
  </blockquote>
  <ul>
    <li>Click the Instruction Stepping Mode (<img src="../../reference/images/icon_instr_stepping_mode.png" width="18" height="16" align="absmiddle">) icon in the <a href="../debug/viewing_debug.htm">Debug</a> view 
      <p>A Disassembly view appears in the current perspective.</p>
    </li>
  </ul>
  </div>
<h5>Related reference</h5>
<ul><li><a href="../../concepts/breakpoints.htm">Breakpoints</a></li>
  <li><a href="../debug/cmds_reposition_pc.htm">Repositioning the Program Counter</a></li>
</ul>
<div id="footer">Copyright &copy; 2010 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
</body>
</html>
