<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="LASTUPDATED" content="06/17/05 11:09:43" />
<script language="JavaScript" src="PLUGINS_ROOT/org.eclipse.help/livehelp.js"></script>
<title>Breakpoints View</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body >
<h2>Breakpoints View </h2>
<p>Use the <img src="../../images/command_link.png" border="0" alt="" /> <a href='javascript:executeCommand("org.eclipse.ui.views.showView(org.eclipse.ui.views.showView.viewId=org.eclipse.debug.ui.BreakpointView)")' class="command-link"><b>Breakpoints</b></a> view to <a href="../../tasks/breakpoints/pgm_bp_setting.htm">set</a>, <a href="../../tasks/breakpoints/pgm_bp_view_props.htm">examine</a>, <a href="../../tasks/breakpoints/pgm_bp_enable.htm">enable</a>,  <a href="../../tasks/breakpoints/pgm_bp_disable.htm">disable</a>, and <a href="../../tasks/breakpoints/pgm_bp_clearing.htm">remove</a> breakpoints and <a href="../../tasks/watchpoints/pgm_watchpoints.htm">watchpoints</a> in one or more <a href="../../concepts/build_configurations.htm">build configurations</a>. Table 1  explains items in the view.</p>
<p align="center"><img src="../../reference/images/view_breakpoints.png" width="544" height="264" /></p>
<p class="figure">Figure 1 - Breakpoints view</p>
<h2>Breakpoints view toolbar options </h2>
<p>The following options are present on the <b>Breakpoints</b> toolbar:</p>
<h5>Table 1. Breakpoints view toolbar options </h5>
<table width="100%"  border="0" cellpadding="2" cellspacing="0">
  <tr>
    <th width="27%" scope="col">Item</th>
    <th width="11%" scope="col">Icon</th>
    <th width="62%" scope="col">Explanation</th>
  </tr>
  <tr>
    <td><b>Remove Selected Breakpoint </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_remove_one_icon.png" width="19" height="19" /></div></td>
    <td>Removes the selected breakpoint from the breakpoints list. </td>
  </tr>
  <tr>
    <td><b>Remove All Breakpoints </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_remove_all_icon.png" width="21" height="19" /></div></td>
    <td>Removes all breakpoints from the breakpoints list. </td>
  </tr>
  <tr>
    <td><b>Show Breakpoints Supported by Selected Target </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_show_icon.png" width="20" height="19" /></div></td>
    <td>Limits the breakpoints shown to only those supported in the current target. </td>
  </tr>
  <tr>
    <td><b>Go to File for Breakpoint </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_goto_icon.png" width="20" height="19" /></div></td>
    <td>Displays the breakpoint in an editor view, opening the source file if required. </td>
  </tr>
  <tr>
    <td><b>Skip All Breakpoints </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_skip_all_icon.png" width="19" height="19" /></div></td>
    <td>Toggles  the debugger to skip all  breakpoints regardless of their current enabled or disabled state, or hit all breakpoints.</td>
  </tr>
  <tr>
    <td><b>Expand All </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_collapse_icon.png" width="19" height="18" /></div></td>
    <td>Expand all matches in the hierarchical view.</td>
  </tr>
  <tr>
    <td><b>Collapse All </b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_expand_icon.png" width="19" height="18" /></div></td>
    <td>Collapse all matches in the hierarchical view.</td>
  </tr>
  <tr>
    <td><b>Link with Debug View</b></td>
    <td><div align="center"><img src="../../images/icons/breakpoints_linkto_debug_icon.png" width="20" height="19" /></div></td>
    <td>When enabled, the breakpoint shown in the editor view is also highlighted in the Breakpoints view. When disabled, the breakpoint selected in the Breakpoints view does not change. </td>
  </tr>
  <tr>
    <td><b>View Menu</b></td>
    <td><div align="center"><img src="../../reference/images/icon_breakpoint_menu.png" width="16" height="9" /></div></td>
    <td>Click to display additional Breakpoint view options for paths and working sets. </td>
  </tr>
</table>
  <h2>Breakpoints view context menu options </h2>
  <p>The following options are present on the <b>Breakpoints </b>context menu:</p>
  <p>&nbsp;</p>
  <h5>Other  references</h5>
<ul>
    <li><a href="perspective_debug.htm">Debug Perspective </a></li>
    <li><a href="../../concepts/breakpoints.htm">Breakpoints</a></li>
    <li><a href="../../tasks/breakpoints/pgm_bp_setting.htm">Setting Breakpoints</a></li>
    <li><a href="../../tasks/breakpoints/pgm_bp_enable.htm">Enabling Breakpoints</a></li>
    <li><a href="../../tasks/breakpoints/pgm_bp_disable.htm">Disabling Breakpoints</a></li>
    <li><a href="../../tasks/breakpoints/pgm_bp_clearing.htm">Removing  Breakpoints</a></li>
</ul>
  <div id="footer">Copyright &copy; 2010 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
