<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nokia.carbide.remoteConnections.deviceDiscoveryAgent">
      <deviceDiscoveryAgent
            class="com.nokia.carbide.remoteconnections.discovery.pccs.agent.PCCSDiscoveryAgent">
      </deviceDiscoveryAgent>
   </extension>

</plugin>
