<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.nokia.cdt.debug.common.internal.source.lookup.CarbideSourcePathComputerDelegate"
            id="com.nokia.cdt.debug.common.internal.source.lookup.CarbideSourcePathComputer"/>
   </extension>

	<!-- *************** Source Container Types **************** -->
   
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="com.nokia.cdt.debug.common.internal.source.lookup.SymbianSourceContainerType"
            description="Maps source files to EPOCROOT"
            id="com.nokia.cdt.debug.common.containerType.mapping"
            name="Symbian OS SDK Mapping"/>
    </extension>

    <!-- Executables view -->
    
   <extension
       point="org.eclipse.cdt.debug.core.ExecutablesProvider">
      <provider class="com.nokia.cdt.debug.common.internal.executables.CarbideExecutablesProvider"/>
   </extension>
  
   <extension
       point="org.eclipse.cdt.debug.core.SourceFilesProvider">
      <provider class="org.eclipse.cdt.debug.edc.internal.symbols.EDCSourceFilesProvider"/>
   </extension>

	<extension
       point="org.eclipse.cdt.debug.core.SourceRemappingProvider">
      <provider class="com.nokia.cdt.debug.common.internal.executables.SymbianSourceFileRemappingFactory"/>
   </extension>

</plugin>
