<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Help for Macros in FileAndClassMacros.inc</TITLE>
</HEAD>
<BODY>
<P>
<H1>Table of contents</H1>
<P>
<A href="#SourceFileTemplate">SourceFileTemplate</A>
</P>

<P>
<A href="#HeaderFileTemplate">HeaderFileTemplate</A>
</P>

<P>
<A href="#ClassTemplate">ClassTemplate</A>
</P>

<P>
<A href="#AddCppIncludes">AddCppIncludes</A>
</P>

<P>
<A href="#ResolvePhases">ResolvePhases</A>
</P>

</P>
<P>
<A name="SourceFileTemplate"></A>
<H2>SourceFileTemplate</H2>
<P>
<P>Defines the basic structure for a source file.   This defines a file with system includes, user includes, and constants.</P>
</P>
<H3>Arguments</H3>
<TABLE border="1" cellpadding="3">
<TH>Argument</TH><TH>Req'd?</TH><TH>Default</TH><TH>Description</TH>
<TR>
<TD>Dir</TD><TD>no</TD><TD>${src}</TD><TD>
<P>
<P>Project-relative directory for file</P>
</P>
</TD>
</TR>
<TR>
<TD>FileName</TD><TD>no</TD><TD>${instanceName$title}.cpp</TD><TD>
<P>
<P>Filename, inside $(Dir), to create</P>
</P>
</TD>
</TR>
<TR>
<TD>HeaderFileName</TD><TD>no</TD><TD>${instanceName$title}.h</TD><TD>
<P>
<P>Filename of associated header to #include, or blank for no #include</P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>SOURCE</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the source file (before system includes, user includes,   constants). </P>
<P>  NOTE: one-time text, should not depend on modifiable properties </P>
<P>  NOTE: does not need to specify default source file template (comments), which is automatic.</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeSystemIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the system includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no system includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>SystemIncludesRegionName</TD><TD>no</TD><TD>Generated System Includes</TD><TD>
<P>
<P>name of the generated section for system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialSystemIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeUserIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the user includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no user includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>UserIncludesRegionName</TD><TD>no</TD><TD>Generated User Includes</TD><TD>
<P>
<P>name of the generated section for user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialUserIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeConstants</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the constants section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no constants ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>ConstantsRegionName</TD><TD>no</TD><TD>Generated Constants</TD><TD>
<P>
<P>name of the generated section for constants</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialConstantsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the constants</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the source file (after system includes, user includes,   constants) which appears at the very end of the file.    </P>
<P>  NOTE: one-time text, should not depend on modifiable properties    </P>
<P>  NOTE: this really comes at the very end during initial file generation   (unless you emit other templates with mode="at-end"), so if you simply   want content after these sections but before other templates you add,   just create templates for location="$(LocationPrefix)_FILE". </P>
</P>
</TD>
</TR>
<TR>
<TD>Dir</TD><TD>no</TD><TD>${src}</TD><TD>
<P>
<P>Project-relative directory for file</P>
</P>
</TD>
</TR>
<TR>
<TD>FileName</TD><TD>no</TD><TD>${instanceName$title}.cpp</TD><TD>
<P>
<P>Filename, inside $(Dir), to create</P>
</P>
</TD>
</TR>
<TR>
<TD>HeaderFileName</TD><TD>no</TD><TD>${instanceName$title}.h</TD><TD>
<P>
<P>Filename of associated header to #include, or blank for no #include</P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>SOURCE</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the source file (before system includes, user includes,   constants). </P>
<P>  NOTE: one-time text, should not depend on modifiable properties </P>
<P>  NOTE: does not need to specify default source file template (comments), which is automatic.</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeSystemIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the system includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no system includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>SystemIncludesRegionName</TD><TD>no</TD><TD>Generated System Includes</TD><TD>
<P>
<P>name of the generated section for system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialSystemIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeUserIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the user includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no user includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>UserIncludesRegionName</TD><TD>no</TD><TD>Generated User Includes</TD><TD>
<P>
<P>name of the generated section for user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialUserIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeConstants</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the constants section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no constants ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>ConstantsRegionName</TD><TD>no</TD><TD>Generated Constants</TD><TD>
<P>
<P>name of the generated section for constants</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialConstantsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the constants</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the source file (after system includes, user includes,   constants) which appears at the very end of the file.    </P>
<P>  NOTE: one-time text, should not depend on modifiable properties    </P>
<P>  NOTE: this really comes at the very end during initial file generation   (unless you emit other templates with mode="at-end"), so if you simply   want content after these sections but before other templates you add,   just create templates for location="$(LocationPrefix)_FILE". </P>
</P>
</TD>
</TR>
</TABLE>

<A name="HeaderFileTemplate"></A>
<H2>HeaderFileTemplate</H2>
<P>
<P>  Defines the basic structure for a header file.  </P>
<P> This defines a file with an include guard, system includes, user includes, event handler includes (non-owned but modifiable), constants, and forward declarations. </P>
</P>
<H3>Arguments</H3>
<TABLE border="1" cellpadding="3">
<TH>Argument</TH><TH>Req'd?</TH><TH>Default</TH><TH>Description</TH>
<TR>
<TD>Dir</TD><TD>no</TD><TD>${inc}</TD><TD>
<P>
<P>Project-relative directory for file</P>
</P>
</TD>
</TR>
<TR>
<TD>FileName</TD><TD>no</TD><TD>${instanceName$title}.h</TD><TD>
<P>
<P>Filename, inside $(Dir), to create</P>
</P>
</TD>
</TR>
<TR>
<TD>IncludeGuardMacro</TD><TD>no</TD><TD>${instanceName$upper}_H</TD><TD>
<P>
<P>Include guard macro (#ifndef ...) to use</P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>HEADER</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the top of the header file.      NOTE: one-time text, should not depend on modifiable properties      NOTE: does not need to specify header file template (comments) or #ifdef guards. </P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeEventHandlerIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no event handler includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialEventHandlerIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the event handler includes.   </P>
<P>   NOTE: one-time text, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedSystemIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the system includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no system includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>OwnedSystemIncludesRegionName</TD><TD>no</TD><TD>Generated System Includes</TD><TD>
<P>
<P>name of the generated section for system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedUserIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the user includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no user includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>OwnedUserIncludesRegionName</TD><TD>no</TD><TD>Generated User Includes</TD><TD>
<P>
<P>name of the generated section for user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedSystemIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the added system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedUserIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the user includes.</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedConstants</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the constants section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no constants ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedConstantsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the constants</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedForwardDeclarations</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the forward declarations section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no forward decls ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedForwardDeclarationsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the forward declarations</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the end of the header file.   </P>
<P>   NOTE: one-time text, should not depend on modifiable properties    </P>
<P>   NOTE: this really comes at the very end during initial file generation   (unless you emit other templates with mode="at-end"), so if you simply   want content after these sections but before other templates you add,   just create templates for location="$(LocationPrefix)HEADER_FILE".   </P>
</P>
</TD>
</TR>
<TR>
<TD>Dir</TD><TD>no</TD><TD>${inc}</TD><TD>
<P>
<P>Project-relative directory for file</P>
</P>
</TD>
</TR>
<TR>
<TD>FileName</TD><TD>no</TD><TD>${instanceName$title}.h</TD><TD>
<P>
<P>Filename, inside $(Dir), to create</P>
</P>
</TD>
</TR>
<TR>
<TD>IncludeGuardMacro</TD><TD>no</TD><TD>${instanceName$upper}_H</TD><TD>
<P>
<P>Include guard macro (#ifndef ...) to use</P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>HEADER</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the top of the header file.      NOTE: one-time text, should not depend on modifiable properties      NOTE: does not need to specify header file template (comments) or #ifdef guards. </P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeEventHandlerIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no event handler includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialEventHandlerIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the event handler includes.   </P>
<P>   NOTE: one-time text, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedSystemIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the system includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no system includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>OwnedSystemIncludesRegionName</TD><TD>no</TD><TD>Generated System Includes</TD><TD>
<P>
<P>name of the generated section for system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedUserIncludes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the user includes section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no user includes ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>OwnedUserIncludesRegionName</TD><TD>no</TD><TD>Generated User Includes</TD><TD>
<P>
<P>name of the generated section for user includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedSystemIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the added system includes</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedUserIncludesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the user includes.</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedConstants</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the constants section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no constants ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedConstantsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the constants</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeOwnedForwardDeclarations</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the forward declarations section unless it is used.   </P>
<P>  NOTE: due to issues with the source generator, this shouldn't be set 'false' unless  you really expect there to be no forward decls ever defined, otherwise, the section  will appear out of order when generated.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialOwnedForwardDeclarationsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the forward declarations</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialFileTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional stock text for the end of the header file.   </P>
<P>   NOTE: one-time text, should not depend on modifiable properties    </P>
<P>   NOTE: this really comes at the very end during initial file generation   (unless you emit other templates with mode="at-end"), so if you simply   want content after these sections but before other templates you add,   just create templates for location="$(LocationPrefix)HEADER_FILE".   </P>
</P>
</TD>
</TR>
</TABLE>

<A name="ClassTemplate"></A>
<H2>ClassTemplate</H2>
<P>
<P>Defines the basic structure for a class with public, protected, and private regions, with owned sections therein for common purposes. </P>
</P>
<H3>Arguments</H3>
<TABLE border="1" cellpadding="3">
<TH>Argument</TH><TH>Req'd?</TH><TH>Default</TH><TH>Description</TH>
<TR>
<TD>BaseClassName</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>name of the base class, from which this class derives </P>
</P>
</TD>
</TR>
<TR>
<TD>BaseClassName</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>name of the base class, from which this class derives </P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.  Useful when one component defines multiple files.</P>
</P>
</TD>
</TR>
<TR>
<TD>BaseLocation</TD><TD>no</TD><TD>HEADER_FILE</TD><TD>
<P>
<P>name of the base location in which to place the class, defaults to HEADER_FILE</P>
</P>
</TD>
</TR>
<TR>
<TD>ClassName</TD><TD>no</TD><TD>${className}</TD><TD>
<P>
<P>name of the class to generate</P>
</P>
</TD>
</TR>
<TR>
<TD>BaseClassAccessor</TD><TD>no</TD><TD>public</TD><TD>
<P>
<P>accessor for the base class, from which this class derives</P>
</P>
</TD>
</TR>
<TR>
<TD>ExtraBaseClasses</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>extra interface classes, separated by commas</P>
</P>
</TD>
</TR>
<TR>
<TD>ClassComment</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the class comment</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialClassHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the class    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the public section (follows "public:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePublicOwnedTypes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the public types section unless it is used.   </P>
<P>  NOTE: if InitialPublicOwnedTypesContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicOwnedTypesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the public owned types section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePublicOwnedMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the public owned methods section unless it is used.   </P>
<P>  NOTE: if InitialPublicOwnedMethodsContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicOwnedMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the public owned methods section </P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the public section (follows "public:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated public content.   </P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the protected section (follows "protected:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeProtectedOverriddenMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the protected overridden methods section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedOverriddenMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the protected overridden methods section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeProtectedUserHandlers</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the protected user handlers section   unless it is used.  This is used for the prototypes for the user-editable    event handler methods.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedUserHandlersContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the protected user handlers section</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the protected section    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated protected content.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the private section (follows "private:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedTypes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private owned types section unless it is used.   </P>
<P>  NOTE: if InitialPrivateOwnedTypesContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedTypesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the private types section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedInstanceVariables</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private instance variables section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedInstanceVariablesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P> optional text for the the private instance variables section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private owned methods section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the private methods section</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the private section    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated private content.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialClassTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the class    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>LocationPrefix</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>String which is prefixed to the location ids defined by this macro.  Useful when one component defines multiple files.</P>
</P>
</TD>
</TR>
<TR>
<TD>BaseLocation</TD><TD>no</TD><TD>HEADER_FILE</TD><TD>
<P>
<P>name of the base location in which to place the class, defaults to HEADER_FILE</P>
</P>
</TD>
</TR>
<TR>
<TD>ClassName</TD><TD>no</TD><TD>${className}</TD><TD>
<P>
<P>name of the class to generate</P>
</P>
</TD>
</TR>
<TR>
<TD>BaseClassAccessor</TD><TD>no</TD><TD>public</TD><TD>
<P>
<P>accessor for the base class, from which this class derives</P>
</P>
</TD>
</TR>
<TR>
<TD>ExtraBaseClasses</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>extra interface classes, separated by commas</P>
</P>
</TD>
</TR>
<TR>
<TD>ClassComment</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the class comment</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialClassHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the class    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the public section (follows "public:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePublicOwnedTypes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the public types section unless it is used.   </P>
<P>  NOTE: if InitialPublicOwnedTypesContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicOwnedTypesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the public owned types section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePublicOwnedMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the public owned methods section unless it is used.   </P>
<P>  NOTE: if InitialPublicOwnedMethodsContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicOwnedMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the public owned methods section </P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPublicTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the public section (follows "public:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated public content.   </P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the protected section (follows "protected:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeProtectedOverriddenMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the protected overridden methods section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedOverriddenMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the protected overridden methods section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizeProtectedUserHandlers</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the protected user handlers section   unless it is used.  This is used for the prototypes for the user-editable    event handler methods.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedUserHandlersContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the protected user handlers section</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialProtectedTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the protected section    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated protected content.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateHeadContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the start of the private section (follows "private:")    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedTypes</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private owned types section unless it is used.   </P>
<P>  NOTE: if InitialPrivateOwnedTypesContent is set, this flag is ignored.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedTypesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the private types section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedInstanceVariables</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private instance variables section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedInstanceVariablesContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P> optional text for the the private instance variables section</P>
</P>
</TD>
</TR>
<TR>
<TD>RealizePrivateOwnedMethods</TD><TD>no</TD><TD>true</TD><TD>
<P>
<P>flag that can be used to avoid generating the private owned methods section unless it is used.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateOwnedMethodsContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the the private methods section</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialPrivateTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the private section    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties   </P>
<P>  NOTE: content appears at the end of all initially generated private content.</P>
</P>
</TD>
</TR>
<TR>
<TD>InitialClassTailContent</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>optional text for the end of the class    </P>
<P>  NOTE: one-time code, should not depend on modifiable properties</P>
</P>
</TD>
</TR>
</TABLE>

<A name="AddCppIncludes"></A>
<H2>AddCppIncludes</H2>
<P>
<P>Generate #includes for a space-separated list of headers.    </P>
<P>  Note: you cannot use variable substitution, script escapes, etc. in the list.   Instead, just write explicit contributions for the include, e.g. &lt;template location="MAIN_OWNED_SYSTEM_INCLUDE"&gt; ... </P>
</P>
<H3>Arguments</H3>
<TABLE border="1" cellpadding="3">
<TH>Argument</TH><TH>Req'd?</TH><TH>Default</TH><TH>Description</TH>
<TR>
<TD>Headers</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>a space-separated list of header files </P>
</P>
</TD>
</TR>
<TR>
<TD>Headers</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>a space-separated list of header files </P>
</P>
</TD>
</TR>
<TR>
<TD>Location</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>location where includes should go (either this or Phase should be set)</P>
</P>
</TD>
</TR>
<TR>
<TD>Phase</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>phase where includes should go (either this or Location should be set)</P>
</P>
</TD>
</TR>
<TR>
<TD>IsUser</TD><TD>no</TD><TD>false</TD><TD>
<P>
<P>"User" or &lt;system&gt; includes?</P>
</P>
</TD>
</TR>
<TR>
<TD>Location</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>location where includes should go (either this or Phase should be set)</P>
</P>
</TD>
</TR>
<TR>
<TD>Phase</TD><TD>no</TD><TD>&nbsp;</TD><TD>
<P>
<P>phase where includes should go (either this or Location should be set)</P>
</P>
</TD>
</TR>
<TR>
<TD>IsUser</TD><TD>no</TD><TD>false</TD><TD>
<P>
<P>"User" or &lt;system&gt; includes?</P>
</P>
</TD>
</TR>
</TABLE>

<A name="ResolvePhases"></A>
<H2>ResolvePhases</H2>
<P>
<P>This macro fixes up phase -&gt; location mappings on the current contributions,  or optionally, another list.    </P>
<P>  The mappings are Phase=Location pairs separated  by spaces.    </P>
<P>  This may be called multiple times.</P>
</P>
<H3>Arguments</H3>
<TABLE border="1" cellpadding="3">
<TH>Argument</TH><TH>Req'd?</TH><TH>Default</TH><TH>Description</TH>
<TR>
<TD>Mappings</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>A space-separated list of Phase=Location mappings.</P>
</P>
</TD>
</TR>
<TR>
<TD>Mappings</TD><TD>yes</TD><TD>&nbsp;</TD><TD>
<P>
<P>A space-separated list of Phase=Location mappings.</P>
</P>
</TD>
</TR>
<TR>
<TD>ContribsList</TD><TD>no</TD><TD>contribs</TD><TD>
<P>
<P>The array or list of IContribution upon which to apply the fixups.</P>
</P>
</TD>
</TR>
<TR>
<TD>ContribsList</TD><TD>no</TD><TD>contribs</TD><TD>
<P>
<P>The array or list of IContribution upon which to apply the fixups.</P>
</P>
</TD>
</TR>
</TABLE>

</P>
</BODY>
</HTML>
