<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/02/04 23:41:11 wpaul Exp $
-->

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "platform:/resource/com.nokia.carbide.cpp.sdk.core/schema/devices.xsd" 
       class = "com.nokia.carbide.cpp.internal.sdk.core.gen.Devices.DevicesPackage"
       genModel = "schema/devices.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="devices" 
       class="com.nokia.carbide.cpp.internal.sdk.core.gen.Devices.util.DevicesResourceFactoryImpl" />
  </extension>

  <extension
         point="org.eclipse.cdt.scripting.scriptableFeature">
      <scriptableClass
            class="com.nokia.carbide.cpp.internal.sdk.core.scripting.SymbianSDKs"
            name="symbianSDKs">
      </scriptableClass>
   </extension>

  <extension-point id="sdkManagerLoadedHook" name="SDKManager Available Notification"/>

</plugin>

