<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Adding New Objects</title>
<link href ="../../../book.css" rel="stylesheet" type="text/css"/>
<style>
<!--
div.Section1
	{page:Section1;}
-->
</style>
</head>
<body bgcolor="#FFFFFF">
<h2>Adding New Objects</h2>

<p>You  add objects to your existing UI designs visible in the  
<a href="../../../../com.nokia.carbide.cpp.uidesigner.doc.user/html/reference/uidesign/ref_ui_design_editor.htm">UI Design Editor</a>  using one of the following methods:</p>
<ul>
  <li>Select the component, then click in the design itself to place it in the design </li>
  <li>Click and drag the component to the design </li>
</ul>
<p>The component is added to the UI design (<a href="../../../../com.nokia.carbide.cpp.uidesigner.doc.user/html/reference/views/ref_layout.htm">layout</a> or  
<a href="../../../../com.nokia.carbide.cpp.uidesigner.doc.user/html/reference/views/ref_non-layout.htm">non-layout</a> regions as appropriate) and also appears in the Layout view. </p>
<p align="center">
<img src="../../images/comp_new_click_to_add.png" alt="addinga  component" /></p>
<p class="figure">Figure 1 - Ready to add an object</p>
<p class="note"><b>NOTE</b> The UI Design Editor enforces many UIQ design principles. It will not permit you to add an object to a container which does not accept objects of that type.</p>
<div class="step">
<h4>Control Collection</h4>
<p>
Control collection contains information for a number of objects (controls). The 
benefit of control collection is that you are able to store the information 
about a control in one place. This benefit provides some order when you 
use the same control several times on different places or UI configurations. 
(Figure 2)</p>
<p align="center">
<span lang="en-us">
<img border="0" src="../../images/task_comp_new_obj-01.png" width="279" height="290"/></span></p>
<p align="center">
<b>Figure 2 - Control Collection at Outline view</b></p>
<p align="justify">
The control collection can contain a control in two ways:</p>
<ul>
	<li>
	<p align="justify">Adding it directly to the container of the control 
	collection, which generates an instance of the control  
	to be used. (Figure 3)</p>
	</li>
</ul>
<p align="center">
<img border="0" src="../../images/task_comp_new_obj-02.png" width="469" height="260"/></p>
<p align="center">
<b>Figure 3 - Control added directly to the Control Collection</b></p>
<ul>
	<li>
Adding a component to the container or to the publisher of applications, in this case, first the instance to the control will be added to the 
control collection and later an instance of the control to the corresponding manager will be added (for example: container, layout) 
(Figure 4)</li>
</ul>
<p align="center">
<img border="0" src="../../images/task_comp_new_obj-03.png" width="530" height="261"/></p>
<p align="center">
<b>Figure 4 - Control added directly to the control Container</b></p>
<p>&nbsp;</p></div>
<h5>Related references</h5>
<ul>
  <li><a href="../../reference/app_editor/ref_app_editor.htm">Application Editor</a></li>
  <li><a href="../../reference/components/ref_palette.htm">Component Palette</a></li>
  <li>
	<a href="../../../../com.nokia.carbide.cpp.uidesigner.doc.user/html/reference/views/ref_outline_view.htm">Outline View</a></li>
  <li>
	<a href="../../../../com.nokia.carbide.cpp.uidesigner.doc.user/html/reference/uidesign/ref_ui_design_editor.htm">UI Design Editor 
	</a></li>
</ul>
<h5>Related tasks</h5>
<ul>
  <li>
	<a href="task_comp_delete_obj.htm">Deleting Objects 
	</a></li>
  <li><a href="task_comp_working_with_obj.htm">Resizing Objects</a></li>
  <li><a href="task_comp_row_layout_manager.htm">Row Layout Manager</a></li>
</ul>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
<p>&nbsp;</p>
</body>
</html>