<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc file="carbideHelpTOC.xml" primary="true">
      </toc>
      <toc file="carbideToolsHelpTOC.xml" primary="false">
      </toc>
      <toc file="s60symbianTOC.xml" primary="false">
      </toc>
      <toc file="s40TOC.xml" primary="false">
      </toc>
      <toc file="s60JavaTOC.xml" primary="false">
      </toc>
      <toc file="s60DevLibsTOC.xml" primary="false">
      </toc>
      <toc file="javaMEDevLibsTOC.xml" primary="false">
      </toc>
      <toc file="uiqCppTOC.xml" primary="false">
      </toc>
      <toc file="symbianDevLibsTOC.xml" primary="false">
      </toc>
   </extension>

</plugin>
