<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
	        adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            id="com.nokia.carbide.cpp.leavescan.runLeaveScan">
             <!-- Only show action for Carbide.c++ projects. The leavescan action utilizes some Carbide.c++ specific APIs -->
             <visibility>
               <and>
                 <objectState
                    name="projectNature"
                    value="com.nokia.carbide.cdt.builder.carbideCPPBuilderNature"/>
                  <or>
                    <objectState
                       name="extension"
                       value="cpp"
                       />
                     <objectState
                        name="extension" 
                        value="cp"
                        />
                  </or>
               </and>
              </visibility>
         <action
               label="Run Leavescan"
               class="com.nokia.carbide.cpp.internal.leavescan.popup.actions.LeavescanAction"
               menubarPath="buildGroup"
               enablesFor="+"
               icon="icons/Run_Leavescan.png"
               id="com.nokia.carbide.cpp.leavescan.leaveScanAction">
         </action>
      </objectContribution>
   </extension>
	
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
	        adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.mmp"
            id="com.nokia.carbide.cpp.leavescan.runLeaveScanOnMMP">
             <!-- Only show action for Carbide.c++ projects. The leavescan action utilizes some Carbide.c++ specific APIs -->
             <visibility>
              <objectState
                 name="projectNature"
                 value="com.nokia.carbide.cdt.builder.carbideCPPBuilderNature"/>
              </visibility>
         <action
               label="Run Leavescan on Project MMP"
               class="com.nokia.carbide.cpp.internal.leavescan.popup.actions.LeavescanAction"
               menubarPath="buildGroup"
               enablesFor="1"
               icon="icons/Run_Leavescan.png"
               id="com.nokia.carbide.cpp.leavescan.leaveScanActionOnMMP">
         </action>
      </objectContribution>
   </extension>
	
	<extension
         id="LeaveScanErrorParser"
         name="LeaveScan Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="com.nokia.carbide.cpp.internal.leavescan.error.parsers.LeaveScanErrorParser">
      </errorparser>
    </extension>
    
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Leavescan Preferences"
            class="com.nokia.carbide.cpp.internal.leavescan.ui.LeavescanPreferences"
            category="com.nokia.carbide.cpp.preferences.ExtensionsPreferencesPage"
            id="com.nokia.carbide.cpp.leavescan.ui.LeavescanPreferences">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nokia.carbide.cpp.internal.leavescan.ui.LeavescanPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
   </extension>


	<!-- Carbide Tool Help extension -->
	<!-- Uncomment to add content assist material to the Help system -->
	<!--
	<extension point="org.eclipse.help.toc">
		<toc
			file="html/toolTOC.xml"
			primary="true"/>
	</extension>
    -->
	
	<!-- Carbide.c++ cheatsheets extension -->
	<!-- Uncomment to add cheatsheet content -->
	
	<!-- Rename the "id" as appropriate for your tool -->
	<!--
	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
		<cheatsheet
			category="com.nokia.carbide.ide.cheatsheets"
			contentFile="html/cheatsheets/getStarted_tool.xml"
			id="com.nokia.carbide.cpp.leavescan.tool"
			name="Tool Example"/>
	</extension>
    -->
	
	<!-- CONTEXT IDs for CONTEXTUAL HELP in windows, dialogs, and views -->
	<!-- Uncomment to add F1 user assistance content -->
	<!--
	<extension point="org.eclipse.help.contexts" >

       <contexts file="html/context_help/org_eclipse_debug_ui.xml"
       		plugin="org.eclipse.debug.ui" />

	</extension>
	-->
	
	<!-- Keyword Indexing support -->
	<!-- Uncomment to add keyword index to Help system -->
	<!--
	<extension point="org.eclipse.help.index" >
        <index file="html/index.xml"/>
    </extension>
	-->

</plugin>
