<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/icon-discovery.png"
            category="com.nokia.carbide.cpp"
            class="com.nokia.carbide.discovery.ui.view.DiscoveryView"
            id="com.nokia.carbide.discovery.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.nokia.carbide.discovery.view"
               relationship="stack"
               relative="org.eclipse.ui.internal.introview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
