<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="portalPage" name="Portal Page" schema="schema/portalPage.exsd"/>
   <extension-point id="portalPageLayer" name="Portal Page Layer" schema="schema/portalPageLayer.exsd"/>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nokia.carbide.internal.discovery.ui.editor.PortalEditor"
            default="false"
            icon="icons/Carbide_c_icon_16x16.png"
            id="com.nokia.carbide.discovery.ui.portalEditor"
            name="%menu.title">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%portal.desc"
            id="com.nokia.carbide.discovery.commands.launch"
            name="%menu.title">
      </command>
   </extension>
	<extension point="org.eclipse.ui.handlers">
    	<handler
			class="com.nokia.carbide.internal.discovery.ui.command.LaunchHandler"
			commandId="com.nokia.carbide.discovery.commands.launch">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<!-- Defines a new menu contribution to the Eclipse help menu -->
		<menuContribution
			locationURI="menu:help?after=helpEnd">
            <command
				commandId="com.nokia.carbide.discovery.commands.launch"
				icon="icons/Carbide_c_icon_16x16.png"
				label="%menu.title"
				id="portalCommand">
			</command>
		</menuContribution>
	</extension>
 <extension
       point="com.nokia.carbide.discovery.ui.portalPage">
    <portalPage
          class="com.nokia.carbide.internal.discovery.ui.view.SettingsBarCreator"
          id="com.nokia.carbide.discovery.ui.customizePage"
          image="icons/icon-discovery.png"
          order="50"
          title="%customize.title">
    </portalPage>
    <portalPage
          id="com.nokia.carbide.discovery.ui.homePage"
          image="icons/icon_home.png"
          order="1"
          title="%home.title">
    </portalPage>
    <portalPage
          id="com.nokia.carbide.discovery.ui.supportPage"
          image="icons/debug.png"
          order="100"
          title="%support.title">
    </portalPage>
    <portalPage
          id="com.nokia.carbide.discovery.ui.kitsPage"
          image="icons/Carbide_c_icon_16x16.png"
          order="75"
          title="Kits">
    </portalPage>
 </extension>
 <extension
       point="com.nokia.carbide.discovery.ui.portalPageLayer">
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.HomePage"
          order="1"
          pageId="com.nokia.carbide.discovery.ui.homePage"
          title="Carbide (S60 Wiki)">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.SupportPage"
          pageId="com.nokia.carbide.discovery.ui.supportPage"
          title="Carbide Support">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.InstallExtensionsPortalExtension"
          order="50"
          pageId="com.nokia.carbide.discovery.ui.customizePage"
          title="%install.layer.title">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.WrenchSciencePage"
          order="30"
          pageId="com.nokia.carbide.discovery.ui.homePage"
          title="%wrenchscience.title">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.CreatingCarbidePage"
          order="25"
          pageId="com.nokia.carbide.discovery.ui.homePage"
          title="%creatingcarbide.title">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.BugzillaPage"
          order="100"
          pageId="com.nokia.carbide.discovery.ui.homePage"
          title="Report Bugs">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.PulsarPageLayer"
          order="25"
          pageId="com.nokia.carbide.discovery.ui.kitsPage"
          title="Install SDKs">
    </portalPageLayer>
    <portalPageLayer
          class="com.nokia.carbide.internal.discovery.ui.view.InstallPlatSimPage"
          order="10"
          pageId="com.nokia.carbide.discovery.ui.homePage"
          title="Install PlatSim">
    </portalPageLayer>
 </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.sequoyah.pulsar.internal.core.action.ExecuteAction"
            name="org.eclipse.equinox.p2.touchpoint.natives.execute"
            touchpointType="org.eclipse.equinox.p2.native"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.sequoyah.pulsar.internal.core.action.UnzipAndExecuteAction"
            name="org.eclipse.equinox.p2.touchpoint.natives.unzipandexecute"
            touchpointType="org.eclipse.equinox.p2.native"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.nokia.carbide.internal.discovery.ui.wizard.ExportWizard"
            icon="icons/icon-discovery_exp.png"
            id="com.nokia.carbide.discovery.ui.features.exportWizard"
            name="Installed Feature Configuration">
         <description>
            %Export.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.nokia.carbide.internal.discovery.ui.wizard.ImportWizard"
            icon="icons/icon-discovery.png"
            id="com.nokia.carbide.discovery.ui.features.importWizard"
            name="Installed Feature Configuration">
         <description>
            %Import.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nokia.carbide.internal.discovery.ui.editor.PortalEditor"
            id="com.nokia.carbide.discovery.ui.portalEditorFactory">
      </factory>
   </extension>

</plugin>
