<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Component Tasks</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Component Tasks</h2>

<p>  The Carbide.c++ UI Designer uses standard interface conventions for all tasks. This section describes the specific steps needed to create, modify, align, reorder, examine, delete, and view the class/resource documentation for the components in your UI Designs.</p>

<p>Topics in this section include: </p>
		<ul>
		  <li><a href="task_comp_new_obj.htm">Adding New Objects</a></li>
		  <li><a href="task_comp_display_outline.htm">Displaying the Outline View</a></li>
		  <li><a href="task_comp_sel_obj.htm">Selecting Objects</a></li>
		  <li><a href="task_comp_delete_obj.htm">Deleting Objects</a></li>
		  <li><a href="task_comp_move_obj.htm">Moving Objects</a></li>
		  <li><a href="task_comp_resize_obj.htm">Resizing Objects</a></li>
		  <li><a href="task_comp_align_objs.htm">Aligning Objects</a></li>
		  <li><a href="task_comp_match_objs.htm">Matching Objects' Height or Width</a></li>
		  <li><a href="task_comp_reorder_obj.htm">Reordering Objects</a></li>
		  <li><a href="../properties/task_comp_mod_properties.htm">Inspecting/Modifying Object Properties</a></li>
			<li><a href="../prop_menu/task_comp_mod_menu.htm">Inspecting/Modifying Menus</a></li>
			<li><a href="../prop_events/task_comp_mod_events.htm">Inspecting/Modifying Event Handlers</a></li>
			<li><a href="../generate/task_comp_header_source.htm">Inspecting header/source files</a></li>
		  <li><a href="task_comp_external_class_dox.htm">Viewing Class/Resource Documentation</a></li>
</ul>
<h5>Related concepts</h5>
<ul>
  <li><a href="../../concepts/con_com_components.htm">Components</a></li>
</ul>

<h5>Related references</h5>
<ul>
  <li><a href="../../reference/components/ref_palette.htm">Component Palette</a></li>
</ul>

<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
