<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Resizing Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Resizing Objects  </h2>

<p>You may resize objects within your existing UI Designs.</p>
<p> <span class="note">Objects which are displayed in the <a href="../../reference/views/ref_non-layout.htm">non-layout</a> region do not have sizes in the same sense as those which are placed within views in the <a href="../../reference/views/ref_layout.htm">layout</a> region. These objects cannot be resized. </span></p>
<p class="note"><b>NOTE</b> Some container types are very strict regarding placement and sizing of their contained objects. The UI Designer enforces S60 User Interface conventions and does not allow you to move or resize objects in conflict with those conventions. As a general rule, you may only move or resize objects which are placed within an Empty (CCoeControl) Basic Container. </p>
<div class="step">
  <h4 align="left">Resizing Objects</h4>
  <ol>
    <li><a href="task_comp_sel_obj.htm">Select one or more objects</a> in an open UI Design.
	<p>The selected object(s) will display a bounding rectangle with drag rectangles at its corners and midlength and midheight points, as shown in Figure 1.</p>
     <p align="center"><img src="../../images/comp_selected_object.png" alt="a selected object" width="342" height="285" /></p>
<p class="figure">Figure 1 - A selected object</p></li>
   
	<li>Click and hold one of the corner or midpoint squares on one of the selected object's bounding rectangle (i.e. do not release the mouse button).
	<p class="note"><b>NOTE</b> You may combine steps 1 &amp; 2 if you are selecting a single object via a click in the UI Designer's layout region.</p>
	<p class="note"><b>NOTE</b> If you have selected multiple objects, click and hold within any of them.</p>
	</li>
	<li>Drag the edge of the object to the desired size.
	<p>A ghosted version of the selected object(s) will follow your drag, as shown in Figure 2.</p>
     <p align="center"><img src="../../images/comp_objects_being_resized.png" alt="resizing an object" width="236" height="252" /></p>
<p class="figure">Figure 2 - A selected object</p>
	<p class="note"><b>NOTE</b> If you are resizing multiple objects, they will all resize by the same amounts  vertically and/or horizontally depending on the direction(s) and magnitude(s) of your drag operation.</p></li>
	<li>Release the mouse button.
	<p>The object(s) are resized.</p></li>
  </ol>
</div>
<p class="note"><b>NOTE</b> Resizing of objects is Undoable</p>

<h5>Related references</h5>
<ul>
  <li><a href="../../reference/app_editor/ref_app_editor.htm">Application Editor</a></li>
  <li><a href="../../reference/views/ref_properties_view.htm">Properties View</a> </li>
</ul>
<h5>Related tasks</h5>
<ul>
  <li><a href="task_comp_align_objs.htm">Aligning Objects</a></li>
  <li><a href="task_comp_delete_obj.htm">Deleting Objects </a></li>
  <li><a href="task_comp_move_obj.htm">Moving Objects</a></li>
  <li><a href="task_comp_resize_obj.htm">Resizing Objects</a></li>
  <li><a href="task_comp_reorder_obj.htm">Reordering Objects</a></li>
</ul>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
</body>
</html>
