<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Selecting Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Selecting Objects</h2>

<p>Before you can  work with an existing object it must be selected. The UI Design Editor provides multiple ways to select one or more  objects. Some commands, such as alignment commands, are available only when multiple objects are selected. </p>
<div class="step">
  <h4>Selecting  Objects</h4>
  <ul>
    <li>In the <a href="../../reference/uidesign/ref_ui_design_editor.htm">UI Design Editor</a> view :
      <ol>
        <li>Click on an object
        <p>A bounding rectangle appears around the object (Figure 1), the same object is highlighted in the <a href="../../reference/views/ref_outline_view.htm">Outline</a> view, and its properties are shown in the <a href="../../reference/views/ref_properties_view.htm">Properties</a> view. </p></li>
    <li>To add additional objects to the selection:
    <ul>
      <li>Shift-click or control-click an object to select it and all objects between the first selected object and the second
        <p>Another bounding rectangle appears around the newly selected object (Figure 1). </p>
        <p class="note"><b>NOTE</b> The properties of the first object selected continue to be shown in the Properties view.</p>
  <p align="center"><img src="../images/obj_select_uid_click.png" width="294" height="383" alt="" />&nbsp;<img src="../images/obj_select_uid_shift_click.png" width="292" height="383" alt="" /></p>
  <p class="figure">Figure 1 - Extending selections in the UI Design view </p></li>
    </ul><p>The selected object(s) can than be <a href="task_comp_move_obj.htm">moved</a>, <a href="task_comp_resize_obj.htm">resized</a>, <a href="task_comp_align_objs.htm">aligned</a>, or <a href="task_comp_delete_obj.htm">deleted</a> as required. </p></li>

</ol>
    </li>
    <li>In the <a href="../../reference/views/ref_outline_view.htm">Outline</a> view:
      <ol>
        <li>Click on an object
    <p>The object is highlighted in the list (Figure 2) and the <a href="../../reference/uidesign/ref_ui_design_editor.htm">UI Design Editor</a> view, and the object properties are shown in the <a href="../../reference/views/ref_properties_view.htm">Properties</a> view. </p></li>
    <li>To add additional objects to the selection:
    <ul>
		<li>Shift-click an object to select it and all objects between the first selected object and the second (Figure 2) </li>
    <li>Control-click an object to perform a discontinuous selection (Figure 2) 
        <p>Another bounding rectangle appears around the newly selected object (Figure 1). </p>
        <p class="note"><b>NOTE</b> The properties of the first object selected continue to be shown in the Properties view.</p></li>
    </ul>  
  <p align="center"><img src="../images/obj_select_outline_shift_click.png" width="280" height="241" alt="" />&nbsp;<img src="../images/obj_select_outline_control_click.png" width="280" height="241" alt="" /></p>
  <p class="figure">Figure 2 - Extending selections in the Outline view </p>
  <p>The selected object(s) can than be <a href="task_comp_move_obj.htm">moved</a>, <a href="task_comp_resize_obj.htm">resized</a>, <a href="task_comp_align_objs.htm">aligned</a>, or <a href="task_comp_delete_obj.htm">deleted</a> as required. </p>
  <p class="note"><b>NOTE</b> Shift-clicking on any object will add it to the selection, but shift-clicking will not remove an object once it is selected.</p>
  <p class="note"><b>NOTE</b> Control-clicking on any object will toggle its inclusion in the selection.</p></li>
  </ol></li>
  </ul>
</div>
<h5>Related references</h5>
<ul>
  <li><a href="../../reference/app_editor/ref_app_editor.htm">Application Editor</a></li>
  <li><a href="../../reference/views/ref_outline_view.htm">Outline View</a></li>
  <li><a href="../../reference/views/ref_properties_view.htm">Properties View</a>   </li>
</ul>
<h5>Related tasks</h5>
<ul>
  <li><a href="task_comp_align_objs.htm">Aligning Objects</a></li>
  <li><a href="task_comp_delete_obj.htm">Deleting Objects </a></li>
  <li><a href="task_comp_move_obj.htm">Moving Objects</a></li>
  <li><a href="task_comp_resize_obj.htm">Resizing Objects</a></li>
  <li><a href="task_comp_reorder_obj.htm">Reordering Objects   </a></li>
</ul>


<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
