<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Reordering Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Reordering Objects</h2>

You can change the order of  objects within your UI Design's containers within the <a href="../../reference/views/ref_outline_view.htm">Outline</a> view. You may also <a href="../prop_menu/task_comp_mod_menu_reorder.htm">change the order of items within menus</a>.
<p class="note"><b>NOTE</b> Objects which are displayed in the <a href="../../reference/views/ref_non-layout.htm">non-layout</a> region have no intrinsic order and thus cannot be re-ordered.</p>
<div class="step">
  <h4 align="left">Reordering Objects</h4>
  <ol>
    <li><a href="../uidesign/task_uid_open.htm">Open a UI Design</a> in the UI Design Editor or <a href="../uidesign/task_uid_select_from_open.htm">select an open UI Design</a>.</li>
    <p>The selected UI Design will be displayed.</p>
    <li>If the Outline view is not currently displayed, issue the <b>Window > Show View > Outline</b> command.</li>
	<p>The Outline view will be displayed.</p>
    <li>Click and hold the object which you wish to reorder.</li>
	<p>The selected object will display a greyed background, as shown in Figure 1.</p>
     <p align="center"><img src="../../images/comp_reorder_start.png" alt="reorder start" width="300" height="243" /></p>
<p class="figure">Figure 1 - A selected object in the Outline view </p>
   
	<li>Drag the object to the desired location within the area which contains the other sub-objects of the selected object's parent container.</li>
     <p>The cusror will indicate when you are at an ineligible reordering location, as shown in Figures 2.</p>
     <p align="center"><img src="../../images/comp_reorder_not_eligible.png" alt="ineligible reorrder" width="300" height="243" /></p>
<p class="figure">Figure 2 - The cursor showing an ineligible reorder destination</p>
     <p>When you are at an eligible reordering location, a dark black line will appear as shown in Figure 3.</p>

     <p align="center"><img src="../../images/comp_reorder_eligible.png" alt="eligible reorder" width="300" height="243" /></p>
<p class="figure">Figure 3 - The cursor showing an valid reorder destination</p>
	<li>Release the mouse button.</li>
	<p>The object's order within the container will be updated.</p>
  </ol>
</div>
<p class="note"><b>NOTE</b> Reordering of objects is Undoable</p>

<h5>Related references</h5>
<ul>
  <li><a href="../../reference/app_editor/ref_app_editor.htm">Application Editor</a></li>
  <li><a href="../../reference/views/ref_outline_view.htm">Outline View</a></li>
</ul>
<h5>Related tasks</h5>
<ul>
  <li><a href="task_comp_new_obj.htm">Adding Objects</a></li>
  <li><a href="task_comp_delete_obj.htm">Deleting Objects </a></li>
  <li><a href="task_comp_move_obj.htm">Moving Objects</a></li>
</ul>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>