<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Deleting Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Deleting Objects</h2>

<p>You may delete objects from your existing UI Designs.</p>
    <p align="center"><img src="../../images/comp_selected_object.png" alt="a selected object" width="342" height="285" /></p>
<p class="figure">Figure 1 - A selected object</p>
<div class="step">
  <h4 align="left">Deleting an object from a UI Design.</h4>
  <ol>
    <li><a href="task_comp_sel_obj.htm">Select one or more objects</a> in an open UI Design.</li>
    
	<li>Choose one of the following methods to delete the selected objects: </li>
	<ul>
		<li>Right-click on the selected object(s) and select the Delete option from the context menu, OR</li>
		<li>Select the Delete option from the Edit menu, OR</li>
		<li>Press the Delete key</li>
	</ul>
  </ol>
</div>
<p class="note"><b>NOTE</b> Deletion of objects is Undoable</p>

<h5>Related tasks</h5>
<ul>
  <li><a href="../uidesign/task_uid_open.htm">Opening a UI Design</a></li>
</ul>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
</body>
</html>
