<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Viewing Class/Resource Documentation</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/></head>
<body bgcolor="#FFFFFF">
<h2>Viewing Class/Resource Documentation</h2>

<p> If your installation includes addressable SDK help files, the Palette's Container Information pane will implement links to the documentation for components. </p>
<p align="center"><img src="../../images/ui_design_editor_component_information.png" alt="component information pane" width="201" height="77" /></p>
<p class="figure">Figure 1 - The Component Information pane </p>
<div class="step">
  <h4 align="left">Viewing Class/Resource Documentation</h4>
  <ol>
    <li>Select a component type in the Palette. </li>
	<p>The Component Information pane will display the Class name and Resource type for  the selected component.</p>
	<p class="note"><b>NOTE</b><strong> </strong>The Component Information pane's label will display <b>Select</b> when no component is selected.</p>
	<li>Click the linkable data in the  Component Information pane to view the associated documentation </li>
	<p>The documentation will be displayed.</p>
	<p class="note"><b>NOTE</b><strong> </strong>If you do not have addressable SDK help files installed, the  Class name and Resource type will display as plain text instead of as links.</p>
  </ol>
</div>

<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
