<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Matching Objects' Height or Width</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Matching Objects' Height or Width</h2>

<p>The toolbar provides buttons to assist you in aligning or resizing the components in your UI Designs.  </p>

<div class="step">
  <h4 align="left">Matching Height or Width of  Multiple Components in Your UI Design</h4>
  <ol>
    <li><a href="../uidesign/task_uid_open.htm">Open a  UI Design</a> in the UI Design Editor or <a href="../uidesign/task_uid_select_from_open.htm">select an open UI Design</a>.</li>
    
	<li><a href="task_comp_sel_obj.htm">Select</a> the objects whose size you wish to match in the <a href="../../reference/views/ref_layout.htm">layout</a>  area of the UI Design Editor or in the <a href="../../reference/views/ref_outline_view.htm">Outline</a> view.</li>
	<p>The selected objects will be displayed with a bounding box that has drag rectangles at each corner and in the middle of each side as shown in Figure 1.</p>
<p align="center"><img src="../../images/comp_before_cleanup.png" alt="before cleanup" width="188" height="220" /></p>
<p class="figure">Figure 1 - Multiple objects ready for size matching </p>
	<p>The size matching operation will use the most recently selected component  as the standard for the desired size of the other selected objects. </p>
	<p class="note"><b>NOTE</b> You can recognize the most recently selected component by looking for the one with solid drag rectangles. In Figure 1, the Range Editor component illustrates the appearance of the most recently selected component. </p>
	<li>Click the button in the toolbar which corresponds to the desired size matching operation.</li>
	<p>The toolbar's buttons are logically grouped into sets which perform similar operations, as shown in Figure 2. The two buttons in the Match section allow you to match the width or height of the selected objects respectively.</p>
    <p align="center"><img src="../../images/ui_design_editor_toolbar_cleanup_labels.png" alt="toolbar labeled" width="800" height="76" /></p>
<p class="figure">Figure 2 - The Toolbar Pane for the UI Design Editor</p>
<p>The selected components will be resized as necessary to match the height or width of the most recently selected component, as shown in Figure 3. </p>
<p align="center"><img src="../../images/comp_after_match_height.png" alt="after match height" width="188" height="219" /></p>
<p class="figure">Figure 3 - Multiple objects after resizing</p>
	<p class="note"><b>NOTE</b> If you perform an operation that does not give the desired results, you may use the standard Undo item in the Edit menu to restore your design to its original state.</p>
  </ol>
</div>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
