<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Displaying the Outline View</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Displaying the Outline View</h2>

<p>Use the <a href="../../reference/views/ref_outline_view.htm">Outline</a> <b>view</b> to see all the objects in your UI Design.</p>
<p align="center"><img src="../../images/comp_outline_view.png" alt="Outline View" width="378" height="238" /></p>
<p class="figure">Figure 1 - The Outline View </p>
<p class="note"><b>NOTE</b> The Outline view will be displayed empty when no UI Design is open.</p>
<div class="step">
  <h4 align="left">Displaying the Outline View </h4>
  <ol>
    <li>Click Window &gt; Show View &gt; Outline </li>
    <p>The Outline view will be displayed as shown in Figure 1. If a UI Design is open, its objects will be displayed in the Outline view . </p> 
    <li>Use the tree controls to display or hide subsets of the objects in the UI Design. </li>
   
  </ol>
</div>

<h5>Related tasks</h5>
<ul>
  <li><a href="../uidesign/task_uid_select.htm">Selecting a UI Design</a></li>
  <li><a href="../uidesign/task_uid_open.htm">Opening a UI Design</a></li>
</ul>

<h5>Related references</h5>
<ul>
  <li><a href="../../reference/views/ref_gallery_view.htm">Gallery</a></li>
</ul>

<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
