<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Aligning Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Aligning Objects</h2>

<p>The toolbar provides buttons to assist you in aligning the components in your UI Designs.  </p>

<div class="step">
  <h4 align="left">Aligning Multiple Components in a UI Design</h4>
  <ol>
    <li><a href="../uidesign/task_uid_open.htm">Open</a> a  UI design in the UI Design Editor or <a href="../uidesign/task_uid_select_from_open.htm">select an open UI Design</a>.</li>
    
	<li><a href="task_comp_sel_obj.htm">Select</a> the objects which you wish to align in the layout  area of the UI Design Editor or in the Outline view.</li>
	<p>Press the shift or control key when selecting objects to make multiple selections. The selected objects will be displayed with a bounding box that has drag rectangles at each corner and in the middle of each side as shown in Figure 1.</p>
<p align="center"><img src="../../images/comp_before_cleanup.png" alt="before cleanup" width="188" height="220" /></p>
<p class="figure">Figure 1 - Multiple objects ready for  alignment</p>
	<p>The alignment operation will use the most recently selected component  as the standard for aligning the other selected objects. </p>
	<p class="note"><b>NOTE</b> You can recognize the most recently selected component by looking for the one with solid drag rectangles. In Figure 1, the Range Editor component illustrates the appearance of the most recently selected component. </p>
	<li>Click the button in the toolbar which corresponds to the desired alignment operation.</li>
	<p>The toolbar's buttons are logically grouped into sets which perform similar operations, as shown in Figure 2. The three buttons in the Horizontal Alignment section allow you to align the left edges, centers, or right edges of the selected objects respectively. Similarly, the three buttons in the Vertical Alignment section allow you to align the top edges, centers, or bottom edges of the selected objects. </p>
    <p align="center"><img src="../../images/ui_design_editor_toolbar_cleanup_labels.png" alt="toolbar labeled" width="800" height="76" /></p>
<p class="figure">Figure 2 - The Toolbar Pane for the UI Design Editor</p>
<p>The selected components will be moved as necessary to align themselves to the placement of the most recently selected component, as shown in Figure 3. </p>
<p align="center"><img src="../../images/comp_after_align_left.png" alt="after align left" width="188" height="222" /></p>
<p class="figure">Figure 3 - Multiple objects after alignment</p>
	<p class="note"><b>NOTE</b> If you perform an alignment that does not give the desired results, you may use the standard Undo item in the Edit menu to restore your design to its pre-aligned state.</p>
  </ol>
</div>

<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>

</body>
</html>
