<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Moving Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Moving Objects</h2>

<p>You may move objects within your existing UI Designs to change their display location within the view.</p>
<p class="note"><b>NOTE</b> Some container types are very strict regarding placement and sizing of their contained objects. The UI Designer enforces S60 User Interface conventions and will not allow you to move or resize objects in conflict with those conventions. As a general rule, you may only move or resize objects which are placed within an Empty (CCoeControl) Basic Container. </p>
<p class="note"><b>NOTE</b> Objects which are displayed in the non-layout region do not have a screen location in the same sense as those which are placed within views in the layout region. These objects cannot be moved. </p>
<div class="step">
  <h4 align="left">Moving Objects</h4>
  <ol>
    <li><a href="task_comp_sel_obj.htm">Select one or more objects</a> in an open UI Design.
	<p>The selected object(s) will display a bounding rectangle with drag rectangles at its corners and midlength and midheight points, as shown in Figure 1.</p>
     <p align="center"><img src="../../images/comp_selected_object.png" alt="a selected object" width="342" height="285" /></p>
<p class="figure">Figure 1 - A selected object</p></li>
   
	<li>Click and hold within the content area of the selected object (i.e. do not release the mouse button).
	<p class="note"><b>NOTE</b> You may combine steps 1 *amp; 2 if you are selecting a single object via a click in the UI Designer's layout region.</p>
	<p class="note"><b>NOTE</b> If you have selected multiple objects for movement, click and hold within any of them.</p></li>
	<li>Drag the selected object(s) to the desired location(s).
	<p>A ghosted version of the selected object(s) will follow your drag, as shown in Figure 2.</p>
     <p align="center"><img src="../../images/comp_object_being_moved.png" alt="object being moved" width="220" height="244" /></p>
<p class="figure">Figure 2 - A selected object</p>
	<p class="note"><b>NOTE</b> If you are moving multiple objects, they will maintain their relative positioning.</p></li>
	<li>Release the mouse button.
	<p>The object(s) will be displayed at the new location(s).</p></li>
  </ol>
</div>
<p class="note"><b>NOTE</b> Movement of objects is Undoable</p>

<h5>Related tasks</h5>
<ul>
  <li><a href="../uidesign/task_uid_select.htm">Selecting a UI Design</a></li>
  <li><a href="../uidesign/task_uid_open.htm">Opening a UI Design</a></li>
</ul>
<div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
</body>
</html>
