<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Working with Objects</title>
<link rel="StyleSheet" href="../../../book.css" type="text/css"/>
</head>
<body bgcolor="#FFFFFF">
<h2>Working with Objects</h2>

<p>You can add objects to your existing UI designs by dragging them from the <a href="../../reference/uidesign/ref_ui_design_editor.htm">UI Design Editor</a> view's <a href="../../reference/components/ref_palette.htm">Palette</a> into the <a href="../../reference/views/ref_layout.htm">layout</a> or <a href="../../reference/views/ref_non-layout.htm">non-layout</a> regions.</p>
<p>Topics in this section include:</p>
<ul>
  <li><a href="task_comp_new_obj.htm">Adding New Objects</a></li>
  <li><a href="task_comp_align_objs.htm">Aligning Objects</a></li>
  <li><a href="task_comp_delete_obj.htm">Deleting Objects </a></li>
  <li><a href="task_comp_match_objs.htm">Matching Objects </a></li>
  <li><a href="task_comp_move_obj.htm">Moving Objects</a></li>
  <li><a href="../properties/task_comp_mod_properties.htm">Object Properties</a> </li>
  <li><a href="task_comp_resize_obj.htm">Resizing Objects</a></li>
  <li><a href="task_comp_reorder_obj.htm">Reordering Objects</a></li>
  <li><a href="task_comp_sel_obj.htm">Selecting Objects </a>
</li>
</ul>
    <div id="footer">Copyright &copy; 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. <br>License: <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></div>
<p>&nbsp;</p>
</body>
</html>