<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>


<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/com.nokia.carbide.cpp.project.core.tests/schema/infImportTestData.xsd"
            class="com.nokia.carbide.cpp.api.test.support.gen.InfImportTestData.InfImportTestDataPackage"
            genModel="schema/bldInfImportData.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="infimporttestdata"
            class="com.nokia.carbide.cpp.api.test.support.gen.InfImportTestData.util.InfImportTestDataResourceFactoryImpl"/>
   </extension>

</plugin>