a#carbide img { background-image : url(../images/carbide.gif); }
a#carbide:hover img { background-image : url(../images/carbide_hov.gif); }

a#carbide-sample img { background-image : url(../images/carbide_sample.gif); }
a#carbide-sample:hover img { background-image : url(../images/carbide_sample_hov.gif); }

a#carbide-keys img { background-image : url(../images/carbide_keys.gif); }
a#carbide-keys:hover img { background-image : url(../images/carbide_keys_hov.gif); }

a#carbide-web img { background-image : url(../images/carbide_web.gif); }
a#carbide-web:hover img { background-image : url(../images/carbide_web_hov.gif); }

a#carbide-people img { background-image : url(../images/carbide_people.gif); }
a#carbide-people:hover img { background-image : url(../images/carbide_people_hov.gif); }
