<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- The following UI elements from CDT are unused and are hidden using this activity -->

   <extension
         point="org.eclipse.ui.activities">
  
      <activity
            name="Unused CDT UI"
            description="These UI elements from CDT are not used and have been hidden using this capability"
            id="com.nokia.carbide.cpp.debug.cdtactivity">
      </activity>
      
<!-- The signals view is added to the debug perspective by CDT and therefore it
	 tries to show the view no matter what.  Because we hide it here it fails to
	 show the view properly and gives an error.  There is no way to remove it from
	 the default debug perspective without modifying CDT.  We'll just leave it in
	 for now, it won't have any content anyway.

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.SignalsView">
      </activityPatternBinding>
-->

<!-- The following UI elements are from org.eclipse.cdt.launch -->
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.launch/org.eclipse.cdt.cdi.launch.localCLaunch">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.dsf.gdb/org.eclipse.cdt.dsf.gdb.launch.localCLaunch">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.dsf.gdb/org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.debug.core/org.eclipse.cdt.launch.postmortemLaunchType">
      </activityPatternBinding>
      
       <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.launch/org.eclipse.cdt.launch.launchGroup">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.debug.core/org.eclipse.cdt.launch.attachLaunchType">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.launch.remote/org.eclipse.rse.remotecdt.RemoteApplicationLaunch">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.examples.dsf.pda/org.eclipse.cdt.examples.dsf.pda.launchType">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.localCShortcut">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.DebuggerTypesPreferencePage">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.debug.core/org.eclipse.cdt.launch.applicationLaunchType">
      </activityPatternBinding>

     <activityPatternBinding
           activityId="com.nokia.carbide.cpp.debug.cdtactivity"
           isEqualityPattern="true"
           pattern="org.eclipse.cdt.debug.gdbjtag.core/org.eclipse.cdt.debug.gdbjtag.launchConfigurationType">
      </activityPatternBinding>


<!-- The following UI elements are from org.eclipse.cdt.managedbuilder.ui -->
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.ConvertToMakeWizard">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.NewMakeFromExisting">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.MakeProjFromExisting">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_NewCDTWizard">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_NewCDTProject">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_Vars">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_Env">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_PropertyPage">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_MultiConfig">
      </activityPatternBinding>

<!-- The following UI elements are from org.eclipse.cdt.make.ui -->
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.make.ui/org.eclipse.cdt.make.ui.preferences.MakePreferencePage">
      </activityPatternBinding>

<!-- The following UI elements are from org.eclipse.cdt.ui -->
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard1">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard2">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.cdt.*/.*NewProjectDropDown">
      </activityPatternBinding>
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.cdt.*/.*NewTypeDropDown">
      </activityPatternBinding>
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.cdt.*/.*NewFileDropDown">
      </activityPatternBinding>
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.cdt.*/.*NewFolderDropDown">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.projectSettingsImportWizard">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.projectSettingsExportWizard">
      </activityPatternBinding>      
  
<!-- The following UI elements are from org.eclipse.debug.ui -->
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*relaunch">
      </activityPatternBinding>
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.internal.ui.actions.AddEventBreakpointActionDelegate">
      </activityPatternBinding>
 
      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern=".*ImportExecutableWizard">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*TerminateAndRelaunch">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*terminateAndRemove">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*terminateAll">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*stepWithFilters">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*toggleStepFilters">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org\.eclipse\.debug.*/.*ToggleStepFilters">
      </activityPatternBinding>

      <category
            name="Nokia Debug"
            description="Elements associated with the Nokia debugger"
            id="com.nokia.carbide.cpp.debug.nokiacategory">
      </category>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.ui.project.buildAutomatically">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.ui.project.buildAll">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.buildConfigToolbarAction">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.buildConfigMenuAction">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            pattern="org.eclipse.cdt.debug.mi.ui/org.eclipse.cdt.debug.mi.ui.MIPreferencePage">
      </activityPatternBinding>

      <categoryActivityBinding
            activityId="com.nokia.carbide.cpp.debug.cdtactivity"
            categoryId="com.nokia.carbide.cpp.debug.nokiacategory">
      </categoryActivityBinding>

   </extension>

</plugin>
